$common-color: #165Dff;
$common-dark-color: #1e41ca;

$second-color: #f2f3f5;
$second-text-color: #4e5969;


$primary-light-1: #ebf4fe;

$info-light-1: $primary-light-1;
$info-light-2: #2d5cf6;
$success-light-1: #ecfeec;
$success-light-2: #50b142;
$warning-light-1: #fef7ea;
$warning-light-2: #ef8532;

$danger-light-1: #fcede8;
$danger-light-2: #e24e48;


// text
$text-color-1: #1d2129;